<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="th.co.digio.hellojni"
      android:versionCode="1"
      android:versionName="1.0">

    <application android:label="@string/app_name"
        android:debuggable="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,HardcodedDebugMode,MissingApplicationIcon">
        <activity
            android:name="th.co.digio.HelloJni"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest> 
